@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Lora:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 49rem;
}
/* ============== Title & paragraph_Styling ================== */

h1 {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Lora";
    margin:2rem 0;
    background-color: #00fff2;
    width: 33rem;
    height: 2rem;
    border-radius: 2rem;
}
h2 {
    font-family: "Lora";
    margin: 1rem 0;
}
p{
    grid-column: 2/8;
    color: #b41010;
    font-size: 14px;
    max-width: 40%;
}

/* ============== Header styling ================== */

header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(24,1.5rem);
}
header img {
    width: 100%;
   grid-column: 1/-1;
}
header button {
    grid-column: 6/8;
    grid-row: 19/21;
    border-radius: 0 40px 0 40px;
    color: black;
    font-size: 32px;
    font-weight: 700;
    background-color: #00fff2;
    cursor: pointer;
}
header button:hover {
    color: white;
    background-color: blueviolet;
} 

/* ================= Hide_Section ====================*/

section {
    position: absolute;
    left: 30%;
    display: none;
    margin: 1rem 0;
} 

/* ================= Information_submit_styling =============== */

form {
    display: grid;
    grid-template-columns: repeat(12,3rem);
    max-width: 91%;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(112, 189, 173, 0.2);
    border-radius: 2rem;
}
form #info , #contact {
    grid-column: 2/10;
}
form input {
    margin: 1rem 3rem 0 0;
    width:27rem;
    height: 3rem;
    background-color: #e7e7e7;
    outline: none;
    border:none;
    border-radius: 5rem;
    padding-left: 1rem;
}
::placeholder {
    color: black;
    font-weight: bold;
}
#gender ,#dw {
    grid-column: 2/12;
}
#dw {
    margin-top: 1rem;
}
.group {
    width: 1rem;
    height: 1rem;
    margin:0 0.2rem;
}
#Male , #Female {
    width: 1rem;
    height: 1rem;
    margin:  1rem 0.2rem;
}
select {
    width: 40%;
    color: #0c0c0c;
    background-color: #bbbbbb;
    border: none;
    height: 55%;
    border-radius: 10px;
    text-align: center;
}
option {
    padding: 10px 0;
}

#submit_btn {
    height: 2rem;
    grid-column: 2/10;
    margin: 1rem 0;
    font-weight: 900;
    border: none;
    border-radius: 5rem;
    background-color: #00fff2;
} 
#Clubs {
    grid-column: 2/12;
}
.Clubs {
    width: 88%;
    outline: none;
    background-color: #ffffff74;
}